<div class="container">
  <h3>LISTAGEM DE CARROS</h3>

  <div class="card">
    <div class="card-body">
      <div class="alinharDireita">
        <button [routerLink]="['/admin/carros/new']" class="btn btn-primary">
          Novo (por rota)
        </button>
        <button (click)="new()" class="btn btn-primary">
          Novo (modal)
        </button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (carro of lista; track $index) {
          <tr>
            <th scope="row">{{ carro.id }}</th>
            <td>{{ carro.nome }}</td>
            <td>
              <div class="alinharDireita">
                <button
                (click)="edit(carro)"
                  class="btn btn-primary"
                >
                  Editar
                </button>
                <button class="btn btn-danger">Deletar</button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modalDetalhe>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro de carro</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    
    <app-carrosdetails [carro]="carroEdit" (retorno)="retornoDetalhe($event)"></app-carrosdetails>
    
  </div>
 
</ng-template>
