<div class="container">
 <br>
  <div class="card">


    <div class="card-body">

      <h3 class="text-primary">CARROS</h3>


      <div class="alinharDireita">
        <button (click)="new()" class="btn btn-success btn-rounded">
          <i class="fa fa-plus fa-1x"></i>
        </button>
        <button [routerLink]="['/admin/carros/new']" class="btn btn-primary btn-rounded">
          <i class="fa fa-plus fa-1x"></i>
        </button>
       
      </div>
      <br>

      <table class="table" border="1">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (carro of lista; track $index;) {
          <tr>
            <th scope="row">{{ carro.id }}</th>
            <td>{{ carro.nome }}</td>
            <td>
              <div class="alinharDireita">
                <button
                (click)="edit(carro)"
                  class="btn btn-success btn-rounded"
                >
                <i class="fa fa-pen fa-1x"></i>
              </button>

                <button
                [routerLink]="['/admin/carros/edit/'+carro.id]"
                  class="btn btn-primary btn-rounded"
                >
                <i class="fa fa-pen fa-1x"></i>
                </button>

                <button (click)="deleteById(carro)" class="btn btn-danger btn-rounded">
                  <i class="fa fa-trash-can fa-1x"></i>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>





    </div>
  </div>
</div>

<ng-template #modalDetalhe>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro de carro</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    
    <app-carrosdetails [carro]="carroEdit" (retorno)="retornoDetalhe($event)"></app-carrosdetails>
    
  </div>
 
</ng-template>
