<div class="container">
  <br>
    <div class="card">
      <div class="card-body centralizar">
  
        <mdb-form-control>
          <input
            mdbInput
            type="text"
            id="form1"
            class="form-control"
            (keyup.enter)="save()"
            [(ngModel)]="carro.nome"
          />
          <label mdbLabel class="form-label" for="form1">Nome</label>
        </mdb-form-control>
<br>
        <button
        (click)="save()"
        type="button"
        class="btn btn-primary btn-rounded"
        mdbRipple
      >
      Salvar
      </button>


      </div>
    </div>
  </div>
  <br>